@model int?

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enrollments</h4>
    <hr />
    <input type="hidden" value=@Model id="EnrollmentID" />
    <div id="enrollmentDetailsContainer"></div>
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@* Refer to the js file to call the function *@
<script src="~/js/EnrollmentFunction/enrollment.details.js"></script>
