@{
    
    ViewData["Title"] = "Index";
}

<h1>Enrollments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="enrollmentTableList"></div>

@* Refer to the js file to call the function *@
<script src="~/js/EnrollmentFunction/enrollment.index.js"></script>
