@model PracticeProject.Models.UserLoginModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="frmAdmin" method="post" asp-action="LoginPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Login" class="btn btn-primary" id="btnLogin"/>
            </div>

        </form>

    </div>
</div>
<p>
    <a asp-action="Login">Forget Password?</a>
</p>

<script src="~/js/UserSignUp/user.login.js"></script>
