
@{
    
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="courseTableList"></div>

@* Refer to the js file to call the function *@
<script src="~/js/CourseFunction/course.index.js"></script>
